<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<table id="table_id" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>日期</th>
                <th>数量</th>
            </tr>
        </thead>
        <tbody>
            </tbody></table>
<script src="/js/stat.js"></script>